.row{
margin-top:15px;
}
.paper{
color: orange;
}
#b{
  color: black; 
}
.p{
	margin-right: 10px;
  }
  .o{
	
	margin-right:40px;
  }
  .r{
	margin-left: 20px;
  }
.in{
  width: 70%;
  height: 26px;
}
.caru{
  height: 500px;
  width: 80%;
  float :left;
}
.side{
  margin-left: 70%;
}

.Part{
 margin-left: 700px;
 margin-top:-315px;
}
.cen{
  margin-left: 300px;
  margin-top:-400px;
}
.do{
  margin-left: 1150px;
  margin-top:-225px;
 
}
.op{

  margin-top: 250px;
}
.m{
  margin-left: 70px;
}
.fo{
  margin-left: 750px;
  margin-top: -200px;
}



		
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #2f3044;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}

  
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
  
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 100%;	
}

  
.d-flex {
display: flex!important;
}		
.flex-column {
  flex-direction: column!important;
}
  

.bgi-position-y-top {
  background-position-y: top;
}
.bgi-position-x-center {
  background-position-x: center;
}
.bgi-no-repeat {
  background-repeat: no-repeat;
}
.bgi-size-cover {
  background-size: cover;
}
  
  
.h-150px {
  height: 150px!important;
}
  

  


  
.font-size-4 {
  font-size: 1.8rem!important;
}
.font-size-3 {
  font-size: 1.4rem!important;
}



.block-dark {
background-color: #0d151e;
}
.dark-top-curved-bg {
background-image: url('https://keenthemes.com/images/misc/curve-dark-top-bg.png');
}		

.text-muted, .text-muted i {
color: #b5b5c3!important;
}		
.text-dark-60 {
color: #7e8299!important;
}		
.page_speed_560018307 {
border-top: 1px solid #152231;
}		
.h-20px {
height: 20px!important;
}		
.mr-2, .mx-2 {
margin-right: 0.5rem!important;
}
.rounded-sm {
border-radius: 0.25rem!important;
}	

.w-20px {
width: 20px!important;
}	
.mr-4, .mx-4 {
  margin-right: 1rem!important;
}
  
  

@media (min-width: 992px)
{
.col-lg {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}	
.pb-lg-3, .py-lg-3 {
    padding-bottom: 0.75rem!important;
}	
.h-lg-225px {
  height: 225px!important;
}	
}


body {

	font-family: "Open Sans", sans-serif;
}
h2 {
	color: #000;
	font-size: 26px;
	font-weight: 300;
	text-align: center;
	text-transform: uppercase;
	position: relative;
	margin: 30px 0 60px;
}
h2::after {
	content: "";
	width: 100px;
	position: absolute;
	margin: 0 auto;
	height: 4px;
	border-radius: 1px;
	background: #7ac400;
	left: 0;
	right: 0;
	bottom: -20px;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #747d89;
	min-height: 325px;
	text-align: center;
	overflow: hidden;
}
.carousel .thumb-wrapper {
	padding: 25px 15px;
	background: #fff;
	border-radius: 6px;
	text-align: center;
	position: relative;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.carousel .item .img-box {
	height: 120px;
	margin-bottom: 20px;
	width: 100%;
	position: relative;
}
.carousel .item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	position: absolute;
	bottom: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
}
.carousel .item h4 {
	font-size: 18px;
}
.carousel .item h4, .carousel .item p, .carousel .item ul {
	margin-bottom: 5px;
}
.carousel .thumb-content .btn {
	color: #7ac400;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	background: none;
	border: 1px solid #7ac400;
	padding: 6px 14px;
	margin-top: 5px;
	line-height: 16px;
	border-radius: 20px;
}
.carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
	color: #fff;
	background: #7ac400;
	box-shadow: none;
}
.carousel .thumb-content .btn i {
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
}
.carousel .item-price {
	font-size: 13px;
	padding: 2px 0;
}
.carousel .item-price strike {
	opacity: 0.7;
	margin-right: 5px;
}
.carousel-control-prev, .carousel-control-next {
	height: 44px;
	width: 40px;
	background: #7ac400;	
	margin: auto 0;
	border-radius: 4px;
	opacity: 0.8;
}
.carousel-control-prev:hover, .carousel-control-next:hover {
	background: #78bf00;
	opacity: 1;
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 36px;
	position: absolute;
	top: 50%;
	display: inline-block;
	margin: -19px 0 0 0;
	z-index: 5;
	left: 0;
	right: 0;
	color: #fff;
	text-shadow: none;
	font-weight: bold;
}
.carousel-control-prev i {
	margin-left: -2px;
}
.carousel-control-next i {
	margin-right: -4px;
}		
.carousel-indicators {
	bottom: -50px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border: none;
}
.carousel-indicators li {	
	background: rgba(0, 0, 0, 0.2);
}
.carousel-indicators li.active {	
	background: rgba(0, 0, 0, 0.6);
}
.carousel .wish-icon {
	position: absolute;
	right: 10px;
	top: 10px;
	z-index: 99;
	cursor: pointer;
	font-size: 16px;
	color: #abb0b8;
}
.carousel .wish-icon .fa-heart {
	color: #ff6161;
}
.star-rating li {
	padding: 0;
}
.star-rating i {
	font-size: 14px;
	color: #ffc000;
}


a{
	text-decoration: none;
	display: inline-block;
	padding: 8px 16px;
  }
  
  a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .previous {
	background-color: #f1f1f1;
	color: black;
  }
  
  .next {
	background-color: #04AA6D;
	color: white;
  }
  
  .round {
	border-radius: 50%;
  }
  
  
  
  .App {
	text-align: center;
  }
  
  .App-logo {
	height: 40vmin;
	pointer-events: none;
  }
  .Part{
	float: left;
  }
  @media (prefers-reduced-motion: no-preference) {
	.App-logo {
	  animation: App-logo-spin infinite 20s linear;
	}
  }
  
  .App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
  }
  
  .App-link {
	color: #61dafb;
  }
  .paper{
  color: orange;
  }
  
  
  @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');
  
  * {
	  margin: 0 ;
	  padding: 0;
	  -webkit-font-smoothing: antialiased;
	  -webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	  text-shadow: rgba(0, 0, 0, .01) 0 0 1px
  }
  
  body {
	  font-family: 'Rubik', sans-serif;
	  font-size: 14px;
	  font-weight: 400;
	  background: #eff6fa;
	  color: #000000
  }
  
  div {
	  display: block;
	  position: relative;
	  -webkit-box-sizing: border-box;
	  -moz-box-sizing: border-box;
	  box-sizing: border-box
  }
  
  
  
  
  .bbb_viewed {
	  padding-top: 51px;
	  padding-bottom: 60px;
	  background: #eff6fa
  }
  
  .bbb_main_container{
		  background-color: #fff;
	 padding: 11px;
  }
  
  .bbb_viewed_title_container {
	  border-bottom: solid 1px #dadada
  }
  
  .bbb_viewed_title {
		  margin-bottom: 16px;
	 margin-top: 8px;
  
  }
  
  .bbb_viewed_nav_container {
	  position: absolute;
	  right: -5px;
	  bottom: 14px
  }
  
  .bbb_viewed_nav {
	  display: inline-block;
	  cursor: pointer
  }
  
  .bbb_viewed_nav i {
	  color: #dadada;
	  font-size: 18px;
	  padding: 5px;
	  -webkit-transition: all 200ms ease;
	  -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	  -o-transition: all 200ms ease;
	  transition: all 200ms ease
  }
  
  .bbb_viewed_nav:hover i {
	  color: #606264
  }
  
  .bbb_viewed_prev {
	  margin-right: 15px
  }
  
  .bbb_viewed_slider_container {
	  padding-top: 13px;
  }
  
  .bbb_viewed_item {
	  width: 100%;
	  background: #FFFFFF;
	  border-radius: 2px;
	  padding-top: 25px;
	  padding-bottom: 25px;
	  padding-left: 30px;
	  padding-right: 30px
  }
  
  .bbb_viewed_image {
		  width: 150px;
	 height: 150px;
  }
  
  .bbb_viewed_image img {
	  display: block;
	  max-width: 100%
  }
  
  .bbb_viewed_content {
	  width: 100%;
	  margin-top: 25px
  }
  
  .bbb_viewed_price {
	  font-size: 16px;
	  color: #000000;
	  font-weight: 500
  }
  
  .bbb_viewed_item.discount .bbb_viewed_price {
	  color: #df3b3b
  }
  
  .bbb_viewed_price span {
	  position: relative;
	  font-size: 12px;
	  font-weight: 400;
	  color: rgba(0, 0, 0, 0.6);
	  margin-left: 8px
  }
  
  .bbb_viewed_price span::after {
	  display: block;
	  position: absolute;
	  top: 6px;
	  left: -2px;
	  width: calc(100% + 4px);
	  height: 1px;
	  background: #8d8d8d;
	  content: ''
  }
  
  .bbb_viewed_name {
	  margin-top: 3px
  }
  
  .bbb_viewed_name a {
	  font-size: 14px;
	  color: #000000;
	  -webkit-transition: all 200ms ease;
	  -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	  -o-transition: all 200ms ease;
	  transition: all 200ms ease
  }
  
  .bbb_viewed_name a:hover {
	  color: #0e8ce4
  }
  
  .item_marks {
	  position: absolute;
	  top: 18px;
	  left: 18px
  }
  
  .item_mark {
	  display: none;
	  width: 36px;
	  height: 36px;
	  border-radius: 50%;
	  color: #FFFFFF;
	  font-size: 10px;
	  font-weight: 500;
	  line-height: 36px;
	  text-align: center
  }
  
  .item_discount { 
	  background: #df3b3b;
	  margin-right: 5px
  }
  
  .item_new {
	  background: #0e8ce4
  }
  
  .bbb_viewed_item.discount .item_discount {
	  display: inline-block
  }
  
  .bbb_viewed_item.is_new .item_new {
	  display: inline-block
  }
  .main{

	height: 100%;
	width: 100%;
	top: 33%;
	position:fixed;
	}
	.popup{
	height: 400px;
	width: 90%;
	background-color: whitesmoke;
	position: fixed;
	top:33%;
	z-index:1;
	}
	
	.pl{
		
		margin-top:-360px;
		text-align:center;
	

	}
  
  .gl{
		
	margin-top:-310px;
	left :220px;


}
.demo{
	margin-top:-360px;
	left :280px;
}
.scrollable{
	height: 400px;
	overflow: scroll;
}  

  
/* body {
	padding: 2rem;
	background: #eee;
  } */
  
  .area {
	background: white;
	height: 350px;
	overflow: auto;
	
  }
  
  .ss-wrapper {
	  overflow : hidden;
	  height   : 100%;
	  position : relative;
	  z-index  : 1;
	  float: left;
  }
  
  .ss-content {
	  height          : 100%;
	  width           : 100%;
	  padding         : 0 32px 0 0;
	  position        : relative;
	  right           : -18px;
	  overflow        : auto;
	  -moz-box-sizing : border-box;
	  box-sizing      : border-box;
  }
  
  .ss-scroll {
	position            : relative;
	background          : rgba(0, 0, 0, .1);
	width               : 9px;
	border-radius       : 4px;
	top                 : 0;
	z-index             : 2;
	cursor              : pointer;
	opacity: 0;
	transition: opacity 0.25s linear;
  }
  
  .ss-container:hover .ss-scroll {
	opacity: 1;
  }
  
  .ss-grabbed {
	   user-select: none;
	   -o-user-select: none;
	   -moz-user-select: none;
	   -khtml-user-select: none;
	   -webkit-user-select: none;
  }
  /* login form */
  .login-block {
	background: #DE6262;
	/* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #FFB88C, #DE6262);
	/* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #FFB88C, #DE6262);
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	float: left;
	width: 100%;
	padding: 50px 0;
}

.banner-sec {
	background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;
	background-size: cover;
	min-height: 500px;
	border-radius: 0 10px 10px 0;
	padding: 0;
}


.login-sec {
	padding: 50px 30px;
	position: relative;
}

.login-sec .copy-text {
	position: absolute;
	width: 80%;
	bottom: 20px;
	font-size: 13px;
	text-align: center;
}

.login-sec .copy-text i {
	color: #FEB58A;
}

.login-sec .copy-text a {
	color: #E36262;
}

.login-sec h2 {
	margin-bottom: 30px;
	font-weight: 800;
	font-size: 30px;
	color: #DE6262;
}

.login-sec h2:after {
	content: " ";
	width: 100px;
	height: 5px;
	background: #FEB58A;
	display: block;
	margin-top: 20px;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto
}

.btn-login {
	background: #DE6262;
	color: #fff;
	font-weight: 600;
}

.banner-text {
	width: 70%;
	position: absolute;
	bottom: 40px;
	padding-left: 20px;
}

.banner-text h2 {
	color: #fff;
	font-weight: 600;
}

.banner-text h2:after {
	content: " ";
	width: 100px;
	height: 5px;
	background: #FFF;
	display: block;
	margin-top: 20px;
	border-radius: 3px;
}

.banner-text p {
	color: #fff;
}


/* popup login */
.main1{

	height: 50%;
	width: 50%;
	top: 0%;
	position:fixed;
	}
	.popup12{
	height: 50%;
	width: 50%;
	background-color: whitesmoke;
	position: fixed;
	top:25%;
	right:25%;
	}
	.popup-header{
		display: flex;
		justify-content: space-between;
		padding: 0 15px 0 15px;
	}
	.glass{
		z-index:1;
	}
/*for furniture*/
	.nom{
		z-index:2;
	}
	/*for nav bar*/
#kl{
	display: inline;
	
}	